@import url(https://fonts.googleapis.com/css?family=Special+Elite|Rajdhani|Montserrat);


body {
    background-color: #A7C4BC;
    font-family: Montserrat;
    color: #161616;
    margin: 0;
}

h3 {
    font-family: Rajdhani;
}

img {
    max-width: 100%;
    border-radius: 1em;
}

a {
    text-decoration: none;
    color: white;
}

/*navigation*/

nav {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    padding: .5em 3em;
    background-color: #5E8B7E;
    margin: 1% 2% 0;
    border-radius: 1em;
    max-height: 2.3em;
}

nav a img {
    max-width: 150px;
    border-radius: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    padding: 0 .8em;
    font: 1.2em Rajdhani;
}

nav .icons a {
    padding: 0 .5em;
}

nav .icons img {
    width: 25px;
    padding: .4em;
}

nav .icons a img:hover {
    background-color: #557571;
    padding: .4em;
    border-radius: 1em;
}

nav ul li a:hover {
    background-color: #557571;
    padding: .85em .8em .6em;
}

/*header*/

header h1 {
    font: 5em 'Special Elite';
    padding: 3% 0 0;
    text-align: center;
    position: relative;
    margin: 0;
}

header h1:after {
    position: absolute;
    content: '';
    background-color: #161616;
    height: .1em;
    width: 15%;
    top: 55%;
    right: 0;
    margin: 0 2% 0 0;
}

header h1:before {
    position: absolute;
    content: '';
    background-color: #161616;
    height: .1em;
    width: 15%;
    top: 55%;
    left: 0;
    margin: 0 0 0 2%;
}

header .image {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 2% 2% 0;
    padding: 3%;
    border-radius: 1em;
}

header .image figure {
    margin: 0;
    height: 80vh;
    background-size: cover;
    background-position: center;
    animation: x 15s ease 0s infinite alternate;
}

@keyframes x {
    0%{background-image: url(../resources/images/dalada.jpg);}
    50%{background-image: url(../resources/images/dalada_2.jpg);}
    100%{background-image: url(../resources/images/dalada_3.jpg);}
}

header .image figcaption {
    text-align: center;
    font: 1.2em Rajdhani;
    font-weight: 650;
}

@media screen and (max-width: 950px) {
    @keyframes x {
        0%{background-image: url(../resources/images/dalada.jpg);}
        50%{background-image: url(../resources/images/dalada_2.jpg);}
        100%{background-image: url(../resources/images/dalada_3_3x.jpg);}
    }
}

/*sections*/

.grid-container {
    padding: 0 2%;
}

.grid-container section {
    background-color: rgba(0, 0, 0, 0.2);
    margin: 2% 0;
    padding: 3%;
    border-radius: 1em;
    display: grid;
    grid-template-columns: auto auto;
    gap: 2%;
}

.grid-container h3 {
    grid-area: 1/1/2/3;
    margin: 0;
    font-size: 1.8em;
}

/*footer*/

footer {
    background-color: #161616;
    color: rgb(174, 174, 174);
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    gap: 3em;
    padding: 5%;
}

footer .top {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10em;
}

footer .top .links {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

footer img#logo {
    width: 150px;
}

footer .top .socials {
    text-align: center;
}

footer .top h3 {
    text-align: left;
}

footer .socials img {
    width: 50px;
    border-radius: 2em;
    border: 1px solid white;
}

/*media queries*/

@media screen and (max-width: 1320px) {

    header h1 {
        font-size: 4.5em;
    }

}

@media screen and (max-width: 1200px) {

    header h1:before, header h1:after {
        display: none;
    }

    .grid-container section {
        display: flex;
        flex-flow: column;
        justify-content: center;
        row-gap: 1em;
    }

}

@media screen and (max-width: 1000px) {
    
    nav ul li {
        display: none;
    }

    header h1 {
        font-size: 4em;
    }

}

@media screen and (max-width: 900px) {

    header h1 {
        font-size: 3em;
    }

    .grid-container section h3 {
        font-size: 1.5em;
    }

}

@media screen and (max-width: 774px) {

    footer .top .links, footer .top h3 {
        text-align: center;
    }

}

@media screen and (max-width: 717px) {
    
    footer .top {
        justify-content: center;
    }

}

@media screen and (max-width: 600px) {
    .grid-container section, img, header .image {
        border-radius: 0.5em;
    }

    nav {
        padding: .5em 2em;
    }

}

@media screen and (max-width: 600px) {
    
    header h1 {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 450px) {

    nav .icons {
        display: none;
    }

    nav {
        justify-content: center;
    }

    nav a img {
        max-width: 100px;
    }

    header h1 {
        font-size: 2em;
    }

}

@media screen and (max-width: 350px) {

    header h1 {
        font-size: 1.5em;
    }

    footer img {
        max-width: 125px;
        text-align: center;
    }

    footer {
        align-items: center;
    }

    footer .bottom {
        text-align: center;
    }

}