@import url(https://fonts.googleapis.com/css?family=Smooch);

body {
    display: grid;
    margin: 0;
    grid-template-columns: 45% 55%;
    place-items: center;
    min-height: 100vh;
}

header img {
    width: 100%
}

section {
    display: flex;
    flex-wrap: row wrap;
    background-color: #69a690;
    height: 100%;
    width: 100%;
    place-items: center;
    justify-content: center;
}

.error {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    border-radius: 2em;
    padding: 10% 15%;
    text-align: center;
}

h1 {
    font: 8em 'Smooch';
    margin: 0;
}

@media screen and (max-width: 1050px){
    header {
        display: none;
    }

    body {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        font-size: 5em;
    }
}