footer {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto;
    justify-content: space-between;
    padding: 5em 6% 2em 6%;
    row-gap: 4em;
    background-color: rgb(30, 30, 30);
    color:#939393;
    font-size: .85em;
}

footer .top {
    display: flex;
    flex-flow: column nowrap;
    gap: 2em;
}

footer img {
    max-width: 10em;
}

footer .middle {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    column-gap: 5em;
    row-gap: 5em;
}

footer .middle .links {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

footer .middle .links a {
    color: #d6d6d6;
}